.settings-modal-container {
  display: flex;
  flex-wrap: wrap;
  z-index: 3;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.settings-container {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  width: 20em;
  height: 100%;
  background-color: var(--color-primary-5);
}

.settings-main {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary-9);
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
}

.settings-sidebar-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  height: 100%;
  width: 100%;
  padding: 1em;
}

@media only screen and (max-width: 700px) {
  .settings-container {
    flex-grow: 1;
    width: 100%;
  }
}

.settings-sidebar-buttons > button {
  position: relative;
  background-color: var(--bg-primary-8);
  border: none;
  padding: 0.5em;
  font-size: 1.5em;
  color: white;
  width: 100%;
  border-radius: 10px;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
}

.settings-sidebar-buttons > button:hover {
  background-color: var(--bg-primary-9);
  cursor: pointer;
}

.settings-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  gap: 1em;
}

.settings-profile-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--dark4);
  width: 90%;
  border-radius: 10px;
  padding: 0.8em;
}

.settings-profile-field > h1 {
  color: var(--gray-2);
  font-size: 1.5em;
  font-weight: bold;
  font-variant: small-caps;
}

.settings-profile-field > p {
  color: white;
  font-size: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background-color: var(--color-primary-5);
  border-radius: 5px;
  width: 100%;
  padding: 0.3em;
  font-weight: bold;
}

.settings-profile-field > button {
  background-color: var(--dark);
  border: none;
  font-size: 1em;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.3em;
  padding-inline: 0.7em;
  margin-left: auto;
  transition: all 0.2s;
}

.settings-profile-field-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark4);
  border-radius: 10px;
  padding-block: 1em;
  padding-inline: 3em;
}

.settings-profile-field-image > img {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

.settings-profile-field > button:hover {
  cursor: pointer;
  transform: translate(0, -2px);
  opacity: 0.7;
}

.settings-profile-field-image > button {
  background-color: var(--dark);
  border: none;
  font-size: 1em;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.3em;
  padding-inline: 0.7em;
  margin-top: 1em;
  transition: all 0.2s;
}

.settings-profile-field-image > button:hover {
  cursor: pointer;
  transform: translate(0, -2px);
  opacity: 0.7;
}

.preview {
  color: var(--gray-2);
  font-variant: small-caps;
  border-top: 1px solid white;
  width: 360px;
  border-radius: 10px;
  text-align: center;
}

.settings-close {
  position: absolute;
  right: 0.1em;
  top: 0.1em;
  color: var(--dark3);
  width: 3em;
  height: 3em;
  background-color: transparent;
}

.settings-close:hover {
  cursor: pointer;
  color: var(--color-primary-1);
}

.upload {
  position: relative;
  display: inline-block;
  background-color: var(--dark);
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 0.9em;
  margin-top: 1em;
}

.custom-file-label {
  display: inline-block;
  color: white;
  font-weight: bold;
  border: none;
}

.button-text {
  display: inline-block;
  vertical-align: middle;
  border: none;
}

.hidden-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.settings-edit-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  height: 250px;
  background-color: var(--dark4);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(150, 150, 150, 0.1);
}

.settings-edit-container > h1 {
  font-size: 1.3em;
  color: var(--gray-2);
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.settings-edit-container > p {
  color: var(--dark3);
  background-color: var(--color-primary-5);
  min-height: 125px;
  max-height: 125px;
  border-radius: 5px;
  overflow: auto;
  resize: none;
}

.settings-edit-container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: auto;
  height: 50px;
  width: 100%;
  background-color: var(--color-primary-5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.settings-edit-container > div > button {
  background-color: var(--dark);
  border: none;
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.3em;
  padding-inline: 0.7em;
  transition: all 0.2s;
}

.settings-edit-container > div > button:hover {
  cursor: pointer;
  transform: translate(0, -2px);
  opacity: 0.7;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: transparent;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--color-primary-5);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--color-primary-5);
  cursor: pointer;
  border: none;
}

.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  background: var(--dark4);
  border-radius: 5px;
}

.slider::-moz-range-track {
  width: 100%;
  height: 20px;
  background: var(--dark4);
  border-radius: 5px;
}

.voice-field-container {
  width: 80%;
  min-width: 350px;
}

.voice-field-container > p {
  color: var(--dark3);
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.voice-button {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-primary-5);
  font-size: 1.3em;
  margin-bottom: 0.5em;
  border-radius: 5px;
  padding: 0.5em;
  color: var(--dark3);
}

.voice-button:hover {
  background-color: var(--color-primary-1);
  cursor: pointer;
}

.voice-field-container > button {
  background-color: var(--dark);
  border: none;
  font-size: 1em;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.3em;
  padding-inline: 0.7em;
  margin-left: auto;
  transition: all 0.2s;
}
