.dm-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: var(--bg-primary-7);
}

.dm-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: var(--bg-primary-8);
  width: 100%;
  height: 4em;
}

.dm-image {
  border-radius: 100%;
  width: 3em;
  height: 3em;
  background-color: aliceblue;
  margin-inline: 0.5em;
}

.dm-name {
  color: var(--dark3);
  font-size: 1.8em;
}

.dm-messages {
  height: calc(100% - 7.45em);
  width: 100%;
  overflow: auto;
}

.msg-container {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.msg-container:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.msg-container-user-time {
  position: relative;
  display: flex;
  margin-left: 0.7em;
}

.msg-container-username {
  color: white;
}

.msg-container-time {
  margin-left: 0.7em;
  color: var(--dark2);
}

.msg-container-img {
  height: 100%;
  width: 3em;
}

.msg-container-img > img {
  border-radius: 100%;
  width: 3em;
  height: 3em;
  margin-right: 0.7em;
}

.msg-container-msg {
  color: var(--dark3);
  margin-left: 0.7em;
  word-break: break-word;
  width: calc(100% - 3.5em);
}

.edit-container {
  position: relative;
}

.edit-container > input {
  all: unset;
  color: var(--dark3);
  margin-left: 0.7em;
  word-break: break-word;
  background-color: var(--dark);
  border-radius: 0.5em;
  padding: 0.5em;
  padding-bottom: 1.4em;
  width: calc(100% - 4.5em);
  height: auto;
  resize: vertical;
}

.edit-buttons {
  display: flex;
  position: absolute;
  bottom: 0.2em;
  left: 1em;
  background-color: var(--bg-primary-3);
  border-radius: 0.2em;
}

.edit-buttons > button {
  all: unset;
  color: white;
  text-align: center;
  font-size: 0.8em;
  width: 4em;
  border-radius: 0.2em;
}

.edit-buttons > button:hover {
  background-color: var(--color-primary-1);
  cursor: pointer;
}

.msg-input-container {
  display: flex;
  min-width: 340px;
  flex-direction: row;
  background-color: var(--bg-primary-8);
}

.msg-input {
  all: unset;
  color: white;
  font-size: 1.3em;
  padding-block: 0.7em;
  padding-right: 0.6em;
  text-indent: 14px;
  transition: all 0.15s;
  width: calc(100% - 3em);
}

.msg-input:focus {
  /* background-color: var( --bg-primary-2); */
}

.msg-input::placeholder {
  color: rgb(139, 139, 139);
}

.msg-send-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(139, 139, 139);
  width: 3.5em;
  height: 3.5em;
}

.msg-send-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.msg-options {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: auto;
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.4em;
  z-index: 1;
}

.isedited {
  position: absolute;
  right: 0;
  top: 4em;
  color: var(--bg-primary-4);
  font-weight: 600;
  font-size: 0.7em;
}

.msg-options:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.msg-options-container {
  position: absolute;
  right: 1.4em;
  top: -0.4em;
  color: white;
  background-color: var(--bg-primary-3);
  padding: 0.2em;
  width: 5em;
  border-radius: 3px;
}

.msg-options-container > button {
  all: unset;
  width: 100%;
  border-radius: 3px;
  text-align: center;
  font-size: 0.9em;
  transition: all 0.15s;
}

.msg-options-container > button:hover {
  background-color: var(--color-primary-1);
  cursor: pointer;
}
