.dm-header {
  background-color: var(--dark);
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
}

.dm-name {
  color: var(--dark3);
  font-size: 2.5em;
}

.dm-search {
  all: unset;
  background-color: var(--gray-5);
  border-radius: 5px;
  color: white;
  font-size: 1.3em;
  padding-block: 0.3em;
  text-indent: 14px;
  width: 100%;
  min-width: 340px;
}
