.server-list {
  width: 100%;
  height: calc(100% - 20em);
  min-height: 20em;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.server-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-primary-5);
  padding: 0.5em;
  font-size: 1em;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
}

.server-container:hover {
  cursor: pointer;
  background-color: var(--bg-primary-9);
}

.server-image {
  width: 2.5em;
  height: 2.5em;
  background-clip: padding-box;
  border-radius: 50%;
  margin: 0.3em;
}

.server-name {
  font-size: 1.3em;
  font-weight: bolder;
  text-indent: 0.5em;
  color: var(--dark3);
  overflow: hidden;
  text-overflow: ellipsis;
}

.server-button-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
  flex-wrap: wrap;
}

.server-button {
  all: unset;
  flex-grow: 1;
  height: 2em;
  display: flex;
  background-color: var(--button-color);
  border-radius: 5px;
  width: fit-content;
  font-size: 1.2em;
  color: white;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  font-variant: small-caps;
}

.server-button:hover {
  cursor: pointer;
  background-color: var(--button-color-hover);
}

.server-button:active {
  cursor: pointer;
  background-color: var(--button-color-active);
  transition: all 0.17s;
  -moz-transition: all 0.17s;
}
