.friends-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8em;
  border-radius: 25%;
  border-bottom: 2px solid rgb(160, 160, 160);
  margin-bottom: -1px;
  color: rgb(160, 160, 160);
  font-size: 1em;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
}

.friends-container:hover {
  cursor: pointer;
  color: white;
  border-color: white;
}

.image-container {
  position: relative;
}

.friend-image {
  width: 2.5em;
  height: 2.5em;
  background-clip: padding-box;
  border-radius: 50%;
}

.status {
  position: absolute;
  background-color: darkred;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  top: 1.8em;
  border: 2.5px solid var(--bg-primary-0);
}

.friend-name {
  margin-top: 0.3em;
  font-weight: 700;
  color: inherit;
}
