.server-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.45em;
  border-radius: 10%;
  border-bottom: 2px solid rgb(160, 160, 160);
  margin-bottom: -1px;
  color: rgb(160, 160, 160);
  font-size: 1em;
  transition: all 0.1s;
  -moz-transition: all 0.2s;
}

.server-container:hover {
  cursor: pointer;
  color: white;
  border-color: white;
}

.server-image {
  width: 2.5em;
  height: 2.5em;
  background-clip: padding-box;
  border-radius: 50%;
  margin: 0.3em;
}

.server-name {
  font-size: 1.3em;
  font-weight: bolder;
  color: inherit;
  text-indent: 0.5em;
}

.server-clients {
  font-size: 1.1em;
  margin-left: auto;
  font-weight: bold;
  color: inherit;
}
