.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark2);
  border-radius: 2%;
  width: 600px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(255, 255, 255, 0.463), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.header {
  font-size: 40px;
  font-weight: bold;
  width: 50%;
  text-align: center;
  color: rgb(200, 200, 200);
}

.credentials > .join-btn {
  all: unset;
  display: flex;
  background-color: rgb(79, 74, 148);
  padding: 10px 50px;
  margin-block: 15px;
  border-radius: 7px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.credentials > .join-btn:hover {
  cursor: pointer;
  background-color: rgb(62, 58, 108);
}
.credentials > .join-btn:active {
  cursor: pointer;
  background-color: rgb(86, 82, 154);
  transition: all 0.17s;
}

.need-container {
  display: flex;
  flex-direction: row;
}

.auth-link {
  color: rgb(0, 60, 130);
  transition: all 0.2s;
  font-weight: bold;
}

.auth-link:hover {
  cursor: pointer;
  color: rgba(0, 61, 130, 0.514);
}

.status-msg {
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  margin-top: 0.5em;
}

.credentials {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

.input-container {
  position: relative;
  margin-top: 1.5em;
}

.input-container input {
  all: unset;
  font-size: 16px;
  transition: all 0.2s ease-out;
  border: 1px solid #ccc;
  background-color: rgb(70, 70, 70);
  width: 100%;
  padding-block: 8px;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  text-indent: 10px;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  pointer-events: none;
  transition: all 0.2s ease-out;
  font-size: 16px;
  color: grey;
}

.input-container input:focus {
  border-color: #007bff;
}

.input-container input:not(:placeholder-shown) {
  border-color: white;
}

.input-container:not(:focus-within) input:not(:placeholder-shown) + label {
  color: white;
}

.input-container:focus-within label,
.input-container input:not(:placeholder-shown) + label {
  top: -13px;
  font-size: 13px;
  color: #007bff;
}

.input-container input::placeholder {
  color: transparent;
}

.input-container input:focus:not(:placeholder-shown) {
  border-color: #007bff;
}
