.settings-modal-container {
  display: flex;
  flex-wrap: wrap;
  z-index: 3;
  width: 100%;
  height: 100vh;
  overflow: none;
  background-color: var(--color-primary-5);
}

.settings-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  background-color: var(--color-primary-5);
  z-index: 5;
  transition: all 0.3s;
}

.settings-main {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary-9);
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
  overflow: auto;
}

.settings-sidebar-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  height: 100%;
  width: 100%;
  padding: 0.5em;
}

.sidebar-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 1.5em;
  color: var(--dark3);
}

.menu-button {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 2.5em;
  height: 2.5em;
  z-index: 1;
  color: var(--dark3);
  transition: all 0.3s;
  border-radius: 5px;
  cursor: pointer;
}

.menu-button:hover {
  background-color: var(--color-primary-1);
}

.open {
  transform: scaleX(0);
  opacity: 0;
}

.closed {
  transform: scaleX(1);
  opacity: 1;
}

.menu-icon {
  font-size: 1.5em;
}

[data-custom='margin-left'] {
  margin-left: 20em;
}

@media only screen and (max-width: 720px) {
  .settings-container {
    width: 5em;
  }
  .sidebar-p {
    display: none;
  }
  .sidebar-icon {
    left: 50%;
    transform: translate(-50%, -50%);
  }
  [data-custom='margin-left'] {
    margin-left: 5em;
  }
}

.settings-open {
  width: 20em;
}

.settings-closed {
  all: unset;
  width: 0;
  transition: all 0.3s;
}

@media only screen and (max-width: 720px) {
  .settings-open {
    width: 5em;
  }
}

.settings-sidebar-buttons > button {
  position: relative;
  background-color: var(--bg-primary-8);
  border: none;
  padding: 0.5em;
  font-size: 1.5em;
  color: white;
  width: 100%;
  height: 2.5em;
  border-radius: 10px;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
}

.settings-sidebar-buttons > button:hover {
  background-color: var(--bg-primary-9);
  cursor: pointer;
}

.settings-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  gap: 1em;
  width: 100%;
}

.settings-profile-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--dark4);
  width: 90%;
  border-radius: 10px;
  padding: 0.8em;
}

.settings-profile-field > h1 {
  color: var(--gray-2);
  font-size: 1.5em;
  font-weight: bold;
  font-variant: small-caps;
  white-space: nowrap;
}

.settings-profile-field > p {
  color: white;
  font-size: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background-color: var(--color-primary-5);
  border-radius: 5px;
  width: 100%;
  padding: 0.3em;
  font-weight: bold;
  word-break: break-all;
}

.settings-profile-field > button {
  background-color: var(--dark);
  border: none;
  font-size: 1em;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.3em;
  padding-inline: 0.7em;
  margin-left: auto;
  transition: all 0.2s;
}

.settings-profile-field-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark4);
  border-radius: 10px;
  padding-block: 1em;
  padding-inline: 3em;
}

.settings-profile-field-image > img {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

.settings-profile-field > button:hover {
  cursor: pointer;
  transform: translate(0, -2px);
  opacity: 0.7;
}

.settings-profile-field-image > button {
  background-color: var(--dark);
  border: none;
  font-size: 1em;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.3em;
  padding-inline: 0.7em;
  margin-top: 1em;
  transition: all 0.2s;
}

.settings-profile-field-image > button:hover {
  cursor: pointer;
  transform: translate(0, -2px);
  opacity: 0.7;
}

.preview > h1 {
  color: var(--gray-2);
  font-variant: small-caps;
  border-top: 1px solid white;
  width: 350px;
  border-radius: 10px;
  text-align: center;
}

.settings-close {
  position: absolute;
  right: 0.1em;
  top: 0.1em;
  color: var(--dark3);
  width: 3em;
  height: 3em;
  background-color: transparent;
}

.settings-close:hover {
  cursor: pointer;
  color: var(--color-primary-1);
}

.upload {
  position: relative;
  display: inline-block;
  background-color: var(--dark);
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 0.9em;
  margin-top: 1em;
}

.custom-file-label {
  display: inline-block;
  color: white;
  font-weight: bold;
  border: none;
}

.button-text {
  display: inline-block;
  vertical-align: middle;
  border: none;
}

.hidden-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.settings-edit-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
  height: auto;
  background-color: var(--color-primary-5);
  border-radius: 10px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: transparent;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--color-primary-5);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--color-primary-5);
  cursor: pointer;
  border: none;
}

.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  background: var(--dark4);
  border-radius: 5px;
}

.slider::-moz-range-track {
  width: 100%;
  height: 20px;
  background: var(--dark4);
  border-radius: 5px;
}

.voice-field-container {
  width: 80%;
  min-width: 350px;
}

.voice-button {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-primary-5);
  font-size: 1.3em;
  margin-bottom: 0.5em;
  border-radius: 5px;
  padding: 0.5em;
  color: var(--dark3);
}

.voice-button:hover {
  background-color: var(--color-primary-1);
  cursor: pointer;
}

.voice-field-container > button {
  background-color: var(--dark);
  border: none;
  font-size: 1em;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.3em;
  padding-inline: 0.7em;
  margin-left: auto;
  transition: all 0.2s;
}

.voice-settings-label {
  color: var(--dark3);
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  font-variant: small-caps;
  letter-spacing: 4px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.mic-test-container {
  width: 80%;
  min-width: 350px;
}

.mic-level-parent {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.mic-level-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.5em;
  border-radius: 5px;
  background-color: var(--dark4);
}

.mic-level-container {
  width: calc(100% - 0.5em);
  height: 2em;
  background-color: var(--color-primary-5);
}

.mic-level {
  width: 100%;
  height: 2em;
  background-color: var(--dark3);
}

.mic-test-button {
  text-align: center;
  background-color: var(--button-color);
  font-size: 1em;
  font-weight: bold;
  border: none;
  color: white;
  border-radius: 5px;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  padding-block: 0.7em;
  width: 10em;
  margin-right: 1em;
  white-space: nowrap;
}

.mic-test-button:hover {
  background-color: var(--button-color-hover);
  cursor: pointer;
}

.mic-test-button:active {
  cursor: pointer;
  background-color: var(--button-color-active);
  transition: all 0.17s;
  -moz-transition: all 0.17s;
}

.volume-slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.volume-slider-container > p {
  color: var(--dark3);
  font-size: 1.5em;
  background-color: var(--dark4);
  border-radius: 5px;
  padding: 0.1em;
  padding-inline: 0.5em;
  margin-left: 0.5em;
}
