.friends-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 0.4em;
  border-radius: 8px;
  margin-block: 0.25em;
  color: rgb(160, 160, 160);
  font-size: 1em;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  width: 100%;
  flex-wrap: wrap;
  background-color: transparent;
}

.friends-container:hover {
  cursor: pointer;
  background-color: var(--bg-primary-6);
}

.image-container {
  position: relative;
}

.friend-image {
  width: 2.5em;
  height: 2.5em;
  background-clip: padding-box;
  border-radius: 50%;
}

.status {
  position: absolute;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  top: 1.5em;
  border: 2.5px solid var(--bg-primary-0);
}

.friend-name {
  margin-top: 0.3em;
  font-weight: 700;
  color: inherit;
}

.add-friend {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.add-friend > input {
  all: unset;
  color: var(--dark3);
  background-color: var(--bg-primary-3);
  padding: 0.6em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.friend-button {
  all: unset;
  text-align: center;
  background-color: var(--button-color);
  font-size: 0.8em;
  font-weight: bold;
  color: white;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  padding-block: 0.7em;
  width: 100%;
}

.friend-button:hover {
  background-color: var(--button-color-hover);
  cursor: pointer;
}

.friend-button:active {
  cursor: pointer;
  background-color: var(--button-color-active);
  transition: all 0.17s;
  -moz-transition: all 0.17s;
}

.pending-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
  gap: 1em;
}

.pending-buttons > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 100%;
  padding: 0.4em;
  transition: all 0.1s;
  -moz-transition: all 0.1s;
}

.accept:hover {
  color: green;
}

.decline:hover {
  color: red;
}

.unread-messages {
  position: absolute;
  left: 0.3em;
  top: 0em;
}

.unread-messages > p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0.5em;
  background-color: indianred;
  border-radius: 100%;
  font-size: 0.7em;
  min-width: 1.7em;
  min-height: 1.7em;
  padding-inline: 0.3em;
  width: fit-content;
  color: white;
}

.unread-messages > svg {
  color: var(--gray-6);
}
