.friends-container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  padding: 0.3em;
  color: rgb(160, 160, 160);
  font-size: 1em;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  width: 100%;
  flex-wrap: wrap;
  background-color: transparent;
  background-color: var(--bg-primary-8);
}

.friends-container:hover {
  cursor: pointer;
  background-color: var(--bg-primary-9);
}

.image-container {
  position: relative;
}

.friend-image {
  width: 2.5em;
  height: 2.5em;
  background-clip: padding-box;
  border-radius: 50%;
}

.status {
  position: absolute;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  top: 1.5em;
  border: 2.5px solid var(--bg-primary-0);
}

.friend-name {
  margin-left: 0.5em;
  font-weight: 700;
  color: inherit;
  max-width: 18ch;
  text-overflow: ellipsis;
  overflow: hidden;
}

.friend-name-pending {
  margin-left: 0.5em;
  font-weight: 700;
  color: inherit;
  max-width: 14ch;
  text-overflow: ellipsis;
  overflow: hidden;
}

.add-friend {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-bottom: 1em;
}

.add-friend > input {
  all: unset;
  color: white;
  background-color: var(--bg-primary-8);
  padding: 0.6em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.add-friend > input::placeholder {
  color: rgb(139, 139, 139);
}

.friend-button {
  all: unset;
  text-align: center;
  background-color: var(--button-color);
  font-size: 0.8em;
  font-weight: bold;
  color: white;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  padding-block: 0.7em;
  width: 100%;
}

.friend-button:hover {
  background-color: var(--button-color-hover);
  cursor: pointer;
}

.friend-button:active {
  cursor: pointer;
  background-color: var(--button-color-active);
  transition: all 0.17s;
  -moz-transition: all 0.17s;
}

.pending-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin-left: auto;
}
