.user-container {
  position: relative;
  display: flex;
  align-items: center;
  width: inherit;
  height: 4em;
  padding: 8px;
  background-color: var(--dark4);
}

.user-options {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
}

.user-image-container {
  position: relative;
}

.user-image-container:hover {
  cursor: pointer;
}

.user-image {
  width: 2.25em;
  height: 2.25em;
  background-clip: padding-box;
  border-radius: 50%;
}

.status-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 4em;
  right: 0.5em;
  background-color: var(--bg-primary-8);
  border-radius: 0.5em;
  z-index: 4;
  width: 10em;
}

.status-options::before {
  content: '';
  position: absolute;
  bottom: -0.5em;
  right: 50%;
  transform: translateX(50%);
  border-top: 0.5em solid var(--bg-primary-3);
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
}

.status-option {
  all: unset;
  display: flex;
  align-items: center;
  color: white;
  font-size: 0.85em;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: all 0.15s;
  margin: 0.2em;
}

.status-option:hover {
  cursor: pointer;
  background-color: var(--color-primary-1);
  border-radius: 5px;
}

.status-icon {
  margin-right: 0.5em;
  background-color: green;
  border-radius: 50%;
  width: 1em;
  height: 1em;
}

.dnd {
  background-color: red;
}

.invisible {
  background-color: gray;
}

.user-container-username {
  min-width: 1em;
  margin-left: auto;
}

.user-container-username > p {
  color: whitesmoke;
  margin-right: 0.5em;
  font-size: 1em;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: auto;
  padding: 0.3em;
  border-radius: 0.5em;
}

.user-wrapper:hover {
  background-color: var(--bg-primary-8);
  cursor: pointer;
}
