.dm-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: var(--bg-primary-8);
}

.dm-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: var(--color-primary-5);
  width: 100%;
  height: 4em;
}

.dm-image {
  border-radius: 100%;
  width: 3em;
  height: 3em;
  background-color: aliceblue;
  margin-inline: 0.5em;
}

.dm-name {
  color: var(--dark3);
  font-size: 1.8em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dm-messages {
  width: 100%;
  overflow: auto;
}

.msg-container {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  position: relative;
}

.msg-container:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.msg-container-user-time {
  position: relative;
  display: flex;
  margin-left: 0.7em;
}

.msg-container-username {
  color: white;
}

.msg-container-time {
  margin-left: 0.7em;
  color: rgb(160, 160, 160);
}

.msg-container-img {
  height: 100%;
  width: 3em;
}

.msg-container-img > img {
  border-radius: 100%;
  width: 3em;
  height: 3em;
  margin-right: 0.7em;
}

.msg-container-msg {
  color: rgb(180, 180, 180);
  margin-left: 0.7em;
  word-break: break-word;
  width: calc(100% - 3.5em);
}

.edit-container {
  position: relative;
}

.edit-buttons {
  display: flex;
  position: absolute;
  bottom: 0.2em;
  left: 1em;
  background-color: var(--bg-primary-3);
  border-radius: 0.2em;
}

.edit-buttons > button {
  all: unset;
  color: white;
  text-align: center;
  font-size: 0.8em;
  width: 4em;
  border-radius: 0.2em;
}

.edit-buttons > button:hover {
  background-color: var(--color-primary-1);
  cursor: pointer;
}

.msg-input-container {
  display: flex;
  min-width: 340px;
  flex-direction: row;
  background-color: var(--dark4);
  height: 4em;
}

.msg-input {
  all: unset;
  color: white;
  font-size: 1.7em;
  padding-block: 0.7em;
  padding-right: 0.6em;
  text-indent: 14px;
  transition: all 0.15s;
  width: calc(100% - 3em);
}

.msg-input:focus {
  /* background-color: var( --bg-primary-2); */
}

.msg-input::placeholder {
  color: rgb(139, 139, 139);
}

.msg-send-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(139, 139, 139);
  width: 5em;
  height: 4em;
}

.msg-send-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.isedited {
  position: absolute;
  right: 0.5em;
  bottom: 0.1em;
  color: black;
  font-weight: 600;
  font-size: 0.7em;
}

p[contentEditable='true'] {
  outline: none;
  border: none;
  color: var(--dark3);
  margin-left: 0.7em;
  word-break: break-word;
  background-color: var(--color-primary-5);
  border-radius: 0.5em;
  padding: 0.5em;
  padding-bottom: 1.4em;
  width: calc(100% - 4.5em);
  height: auto;
  resize: vertical;
}

.call-container {
  position: relative;
  width: 100%;
  height: 20em;
  background-color: var(--color-primary-5);
}

.call-images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2em;
}

.call-images > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 10.5em;
  height: 10.5em;
  margin-top: 2em;
  background-color: aliceblue;
}

.call-images > div > img {
  border-radius: 100%;
  width: 10em;
  height: 10em;
}

.call-buttons {
  background-color: rgba(0, 0, 0, 0.2);
  padding-block: 0.3em;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: row;
  bottom: 0.5em;
  gap: 1em;
}

.not-connected {
  animation: borderAnimation 2s infinite alternate;
}

@keyframes borderAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.scroll-to-bottom {
  position: absolute;
  bottom: 5em;
  right: 50%;
  transform: translate(50%, 0);
}
