.nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-button-container {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  margin-block: 1em;
}

.nav-button {
  all: unset;
  height: 2em;
  font-size: 1.2em;
  display: flex;
  background-color: rgb(79, 74, 148);
  padding: 0.1em 0.5em;
  border-radius: 5px;
  width: fit-content;
  font-size: 1em;
  color: white;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.nav-button:hover {
  cursor: pointer;
  background-color: rgb(62, 58, 108);
}

.nav-button:active {
  cursor: pointer;
  background-color: rgb(86, 82, 154);
  transition: all 0.17s;
}

.nav-search-container {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 2em);
  height: 100%;
  margin-bottom: 0.5em;
  
}

.nav-search {
  all: unset;
  background-color: var(--gray-5); 
  border-radius: 5px;
  color: white;
  font-size: 1.3em;
  padding-block: 0.7em;
  text-indent: 14px;
  width: 50%;
  transition: all 0.15s;
}

.nav-search:focus {
  /* background-color: var( --bg-primary-2); */

}

.nav-search::placeholder {
  color: rgb(139, 139, 139);
}
