.tooltip-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 5px;
}

.tooltip-icon-container:hover {
  background-color: var(--color-primary-1);
  cursor: pointer;
}

.tooltip-text {
  position: absolute;
  font-size: 0.85em;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(35, 35, 35);
  padding: 0.3em;
  border-radius: 5px;
  pointer-events: none;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  color: white;
  width: fit-content;
  font-weight: bold;
  z-index: 2;
}

.tooltip-icon-container:hover .tooltip-text {
  opacity: 1;
}

.tooltip-text::before {
  content: '';
  position: absolute;
  bottom: -0.5em;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px 10px 0 10px;
  border-style: solid;
  border-color: rgb(35, 35, 35) transparent transparent transparent;
}

.top {
  top: -2.5em;
}

.top::before {
  bottom: -0.5em;
  transform: translateX(-50%);
}

.bottom {
  bottom: -2.5em;
}

.bottom::before {
  bottom: 1.5em;
  transform: translateX(-50%) rotate(180deg);
}

.left {
  right: unset;
  left: 0;
  transform: translateX(calc(-100% + -1em));
}

.left::before {
  left: unset;
  right: -0.55em;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgb(35, 35, 35);
  transform: translateY(-45%);
  z-index: 1;
}

.right {
  left: unset;
  right: 0;
  transform: translateX(calc(100% + -1em));
}

.right::before {
  left: -0.55em;
  right: unset;
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(35, 35, 35) transparent transparent;
  transform: translateY(-45%);
  z-index: 1;
}
